<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="main">
    <h1 style="font-size: 3em;">Students Form</h1> 
    <form action="/addData" method="post">

        <!-- <input type="text" placeholder="enter id" name="id">  -->
    <input type="text" placeholder="enter your name" name="name">
    <input type="text" placeholder="enter your subject" name="subject">
    <input type="text" placeholder="enter your city" name="city">

    <button type="submit">submit</button>
    </form>

    <br>

    <table border="1" width="80%">

        <thead >
        <tr>
            <th colspan="20"><h2>Student Information</h2></th>
        </tr>

            <% students.map((e,i)=>{ %>

                <tr>

                    <td><%=e.id%></td>
                    <td><%=e.name%></td>
                    <td><%=e.subject%></td>
                    <td><%=e.city%></td>

                    <td><a href="/editData/<%=e.id%>"><button>Edit</button></a></td>

                    <td><a href="/deleteData?id=<%=e.id%>"><button>Delete</button></a></td>

                </tr>
                
           <%  })%>
           

        </thead>
    </table>
</div>
    
</body>
</html>
