<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
     body {
        margin: 0 auto;
        width: 80%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }
    form{
        width: 50%;
        height: 5vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    input{
        background-color: #bbe4e9;
        border: none;
    }
    h1{
        text-align: center;
    }
    table{
        margin: 0 auto;
    }
    button{
        background-color: #75e1ed;
        border: none;
    }
   
</style>
<body>
    <div class="main">
    <h1 style="font-size: 3em;">Students Form</h1> 
    <form action="/addData" method="post">

    <input type="text" placeholder="enter your name" name="name">
    <input type="text" placeholder="enter your subject" name="subject">
    <input type="text" placeholder="enter your city" name="city">

    <button type="submit">submit</button>
    </form>

    <br>

    <table border="1" width="80%">

        <thead >
        <tr>
            <th colspan="20"><h2>Student Information</h2></th>
        </tr>

            <% students.map((e,i)=>{ %>

                <tr>

                    <td><%=e.id%></td>
                    <td><%=e.name%></td>
                    <td><%=e.subject%></td>
                    <td><%=e.city%></td>

                    <td><a href="/editData/<%=e.id%>"><button>Edit</button></a></td>

                    <td><a href="/deleteData?id=<%=e.id%>"><button>Delete</button></a></td>

                </tr>
                
           <%  })%>
           

        </thead>
    </table>
</div>
    
</body>
</html>
